In [203]:
# Create the datetime sample 
datesample = '''string
**2015-01-04**#

/20210506*&
null
afafaga
2024-02-02
'''

with open ('date.txt', 'w') as file:
    file.write(datesample)

In [214]:
# CLEAN function 
import re
def clean(str):
    # A collection of acceptances [],   r'' means raw string
    str = re.sub(r'[^\w\s]', '', str).strip()
    # Search eight digits
    match = re.search(r'\d{8}', str)
    if match:
        return match.group()
    else:
        return None

In [215]:
# Read from txt. Create as a dataframe.
import pandas as pd
data = []
with open ('date.txt', 'r') as file:
    next(file)
    for line in file:
        # Clean line
        line = clean(line)
        data.append([line])
df = pd.DataFrame(data , columns=['Date'])
df

       Date
0  20150104
1      None
2  20210506
3      None
4      None
5  20240202

In [217]:
df['Date'] = pd.to_datetime(df['Date'], format= '%Y%m%d') # You need to set the column to be the to_datetime values. It is not in place.
df.dropna(inplace=True)
df

        Date
0 2015-01-04
2 2021-05-06
5 2024-02-02