In [145]:
# Find the largest number of consecutive operations for each group
data = '''
id, month, operation
1,202001, 0
1,   202002,1
1,202003,1
2,202001,0
2,202002,1
2,202003,0
'''

with open('sample_data.txt', 'w') as file:
    file.write(data)

# Approach 1

In [115]:
import pandas as pd
df = pd.read_csv('sample_data.txt', delimiter= ',')
df.columns = df.columns.str.strip()
df['month'] = pd.to_datetime(df['month'], format = '%Y%m')
print(df)

   id      month  operation
0   1 2020-01-01          0
1   1 2020-02-01          1
2   1 2020-03-01          1
3   2 2020-01-01          0
4   2 2020-02-01          1
5   2 2020-03-01          0

# Approach 2

In [146]:
id = []
month = []
operation = []
with open('sample_data.txt', 'r') as file:
    for _ in range(2):
        next(file)
    for line in file:
        parts = line.strip().split(',')
        [a,b,c] = parts
        id.append(a.strip())
        month.append(b.strip())               
        operation.append(c.strip())

In [147]:
import pandas as pd
df = pd.DataFrame({'id':id,'month':month,'operation':operation})
df.month = pd.to_datetime(df.month, format = '%Y%m')
df.operation = df.operation.astype(int)
df.id = df.id.astype(int)
print(df)

   id      month  operation
0   1 2020-01-01          0
1   1 2020-02-01          1
2   1 2020-03-01          1
3   2 2020-01-01          0
4   2 2020-02-01          1
5   2 2020-03-01          0

In [126]:
def consecutive(df):
    n = 0
    m = 0 
    for i in df:
        if i == 1:
            n += 1 
            if m < n:
                m = n
        else:
            n = 0 
    return m

In [149]:
df.groupby(['id'], as_index = False).agg({'operation':consecutive})

   id  operation
0   1          2
1   2          1